
.bottom-container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fotoSubida{
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  

}

.marcoFoto{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 0 auto;
  height: 10rem;
  
  
}

.ayuda{
  position:absolute;
  bottom:5px;
  left:10px;
}


.link{
  max-width: 180px;
  margin: 0 auto;
}

.label-md {
    margin: 0px 0px 0px 0px;
}

.item-md, .item-inner {
    padding-left:0;
    padding-right:0 !important;
}

#cta {
    margin: 2em auto 0 auto;
    display:block;
    height: 30px;
    width: 180px;
    font-size: 15px;
    text-transform: uppercase;

}

#lbl {
    text-transform:uppercase;
    letter-spacing: 2px;
    font-size:.85em;
    margin-top:0;
    text-align:center;
}

  html,
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .loader {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-radius: 50%;
    border-color: #2BFCBA;
    animation: 1.75s pulse infinite;
  }

  
  
  @keyframes pulse {
    0% {
      height: 0px;
      width: 0px;
      border-width: 32px;
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      height: 64px;
      width: 64px;
      border-width: 0px;
      opacity: 0;
    }
    100%{
      opacity: 0;
    }
  }


 .loading-icon,
.loading-icon::before,
.loading-icon::after {
  left: 50%;
  top: 40%;
  margin-left: -30px;
  margin-top: -25px;
  position: absolute;
  vertical-align: middle;
  background: #1bc2a6;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.loading-icon::before {
  content: "";
  animation: bounce 1.5s infinite;
}
.loading-icon::after {
  content: "";
  animation: bounce 1.5s -0.4s infinite;
}

@keyframes bounce {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}